{% extends 'base.html' %}
{% block title %}
    <title>detail</title>
    {% endblock %}
{% block content %}  
    <table>
        <tr> 
            <th> ID </th>
            <th> Student Name </th>
            <th> Student Lastname </th>
            <th> Student Grade </th>
        </tr>
        <tr> 
            <td> {{ student_details.pk }} </td>
            <td> {{ student_details.name }} </td>   
            <td> {{ student_details.lastname }} </td>
            <td> {{ student_details.grade }} </td>
        </tr>  
    </table>
{% endblock %}